.background {
  background: url("../images/deseer.jpg") #ff1b68 center bottom / cover
    no-repeat border-box;
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
  position: fixed; /* позиция фиксирована, отступ идет от viewport */
  top: 0;
  z-index: -1; /* по стандарту равен 1 */
}

.plan-box {
  position: relative; /* создает предка, к которому будет привязываться объект в позиции absolute, отступ идет от изначальной позиии элемента */
  margin: 1rem 5%;
  padding: 2rem;
  border: 5px solid #0e3c19;
  width: 80%;
  max-width: 70rem;
  font-family: inherit;
  text-decoration: none;
}

.plan-box:hover,
.plan-box:active {
  border: 5px solid #ff5b49;
}

.plan-link {
  text-decoration: none;
}

#plus {
  background-color: rgba(206, 248, 215, 0.95);
  margin-top: 3rem;
  z-index: 0;
}

#free {
  background-color: rgba(231, 248, 235, 0.95);
  float: right;
  text-align: right;
}

#premium {
  background-color: rgba(25, 71, 40, 0.95);
}

.clearer {
  clear: both; /* сбрасывает позиционирование до стандартного (нивелирует float: right) */
}

.plan-title {
  color: black;
  font-size: 1.75rem;
}

#premium .plan-title {
  color: white;
}

.plan-badge {
  font-size: 1.2rem;
  color: white;
  background-color: #ff5b49;
  padding: 0.5em;
  border-radius: 8px;
  position: static;
  width: fit-content;
  z-index: 10;
}

@media (min-width: 40rem) {
  .plan-badge {
    position: absolute; /* позиция меняется в зависимости от прокрута, отступ идет от viewport или от ближайшего relative родителя */
    top: 2rem;
    right: 2rem;
  }
}

.plan-description {
  color: #8b8d8d;
}

.plan-info {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1.5px solid #466149;
  letter-spacing: 1px; /* расстояние отступа между буквами */
  line-height: normal; /* вертикальный отсутп между строк (высота строки) */
  /* text-decoration: line-through 1px #0e3c19; зачеркивание/почеркивание/надчеркивание */
  /* text-shadow: 0px 2px 2px grey; эффект удваивания с помощью тени (можно не указывать степень блюра и цвет) */
}
