* {
  box-sizing: border-box;
  font-size: 1.5rem;
}

html {
  background: #b3b3b3;
  padding: 5px;
}

body {
  background: #b3b3b3;
  padding: 5px;
  margin: 0;
}

.flex-container {
  background: white;
  padding: 10px;
  border: 5px solid black;
  /* height: 1300px; */
  display: flex;
  flex-direction: row; /* row/column/...-reverse */
  flex-wrap: nowrap; /* wrap оставляет параметры блоков внутри, nowrap динамически изменяет их под размер экрана, wrap-reverse разворачивает порядок */
  /* flex-flow: row wrap; shorthand */
  align-items: center; /* дополнительная ось */
  justify-content: flex-start; /* главная ось */
  /* align-content: center; срабатывает когда контент размещается больше чем на 1 строку (не помещается) и сворачивает растягивание на всю высоту */
}

.item-1 {
  background: #ff7300;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.item-2 {
  background: #ff9640;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 250px;
  font-size: 1.8rem;
  align-self: flex-end; /* позиционирование относительно cross axis (второстепенной оси) */
}

.item-3 {
  background: #ff9640;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  height: 250px;
}

.item-4 {
  background: #f5c096;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 300px;
  height: 300px;
  order: -1; /* по стандарту 0, обозначает порядок отображения по основной оси */
}

.item-5 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;
  /* flex-grow: 1; стандартно (0) соотношение как элементы будут увеличивать свой размер в зависимости от ширины экрана */
  /* flex-shrink: 1; стандартно (1) альтернативное решение, указываются пропорции, в каких элементы будут уменьшать свою ширину */
  flex: 0 1 auto; /* shorthand используемый в порядке grow/shrink/basis */
}

.item-6 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;
  /* flex-grow: 2; если ширина больше фиксированных 350px, изменение размера ширины идет в пропорциях 1:2 */
  /* flex-shrink: 2; большее значение сожмет сильнее при нехватке места */
  /* flex-basis: 200px; задает размер main axis (главной оси) в зависимости от direction, если уже есть фиксированный, переписывает его */
}
