.container {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: [col-1-start] 25% [col-1-end col-2-start] auto [col-2-end];
  grid-template-rows: [row-1-start] 3.5rem [row-1-end row-2-start] 15rem [row-2-end row-3-start] 3.5rem [row-3-end];
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
}

div[class^="el"] {
  background-color: #999;
  border: 2px solid black;
  text-align: center;
}

.el1 {
  grid-area: header;
}

.el2 {
  grid-area: side;
}

.el3 {
  grid-area: main;
}

.el4 {
  grid-area: footer;
}
