* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav > a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav {
  width: calc(100% - 48.1px);
  display: flex;
  justify-content: end;
}

.main-nav__items {
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  /* display: inline-block;
  display: block;
  display: none;
  visibility: hidden; */
}

.main-nav__item > a {
  color: #0e4f1f;
  text-decoration: none;
}
