@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* важно при добавлении нескольких вариаций шрифта для определения разницы, при одиночном не обязательно */
}

main {
  min-height: calc(100vh - 3rem - 3.3rem);
}

#product-overview {
  /* shorthand всех последующих настроек */
  background:
    linear-gradient(to top, #151410 0%, transparent),
    url("images/foto-no-pôr-do-sol.jpg") 50% 35% / cover no-repeat border-box,
    #ff1b68;
  /* background-image: url("images/foto-no-pôr-do-sol.jpg"); */
  /* background-color: #ff1b68; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-origin: border-box; */ /* обозначает область, которая будет использоваться как background */
  /* background-clip: border-box; */ /* обозначает область, после которой изображение обрежется */
  /* background-attachment: scroll; */ /* используется в случаях когда нужно настроить, будет ли фон листаться с элементами или будет фиксированым */
  /* background-position: 50% 35%; */ /* проценты считают не отступ от изначального положения, а к какой части изображения идет привязка */
  /* если устанавливается одно значение, второе автоматом ставит центр */
  /* background-position: 20px; отступ вправо по оси x, y в центр */
  /* background-position: center; привязка к центру */
  /* background-position: right 30% bottom 40px; привязка к правой части по горизонтали и отступ снизу */
  width: 100vw;
  height: 35vh;
  padding: 1rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
  /* font: regular small-caps 700 1.5rem/1 "Anton", sans-serif; равноценный font shorthand */
  /* конструкция font-style font-variant font-weight/line-height font-size font-family */
  margin: 0;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.section-title {
  font-family: "Open Sans", sans-serif;
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background-color: #a6edc0;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  overflow: hidden; /* если содержимые child объекты выходят за пределы, они прячутся */
  /* если родительский объект, это body, overflow: hidden нужно добавить как и в body, так и в child элемент */
}

.plan--highlighted {
  background-color: #208f49;
  color: white;
  box-shadow: 2px 2px 10px #208f49;
}

.plan--annotation {
  background-color: white;
  color: #208f49;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px white;
  border-radius: 4px;
}

.plan--feature {
  list-style: none;
}

.plan--features {
  padding: 0;
}

.button {
  margin-bottom: 1.35rem;
}

@media (min-width: 60rem) and (orientation: landscape) {
  #product-overview {
    height: 45vh;
  }

  #product-overview h1 {
    font-size: 2rem;
  }

  .plans {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20.5rem;
    max-width: 31.25rem;
    width: 30%;
    height: 24.5rem;
  }

  .plan--highlighted {
    height: 29.5rem;
  }

  .plan h2,
  .plan h3,
  .plan--features {
    margin-top: 0;
  }
}

.key-features {
  background-color: #ff1b68;
  padding: 1rem;
  margin-top: 2rem;
}

.key-features .section-title {
  color: white;
}

.key-feature-reasons {
  padding: 0;
  margin-top: 3rem;
  list-style: none;
}

.key-feature-reason {
  width: 30%;
  margin: 0 auto;
  min-width: 9.5rem;
}

.key-feature-reason-description {
  color: white;
  font: inherit;
  font-weight: bold;
  text-align: center;
}

.key-feature-image {
  background-color: #ffbad1;
  height: 128px;
  width: 128px;
  border: 2px solid #999;
  border-radius: 50%; /* для идеального круга */
  margin: auto;
  padding: 1.25rem;
}

@media (min-width: 32rem) {
  .key-feature-reasons {
    display: flex;
    justify-content: space-around;
  }
}

/* h1 {
  font-family: sans-serif;
  } */

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
